In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
def load_data():
    path = r"../input/datasets-for-regression/Bank_Customer_Churn_Prediction/Bank_Customer_Churn_Prediction.csv"
    
    df = pd.read_csv(path, header=None, delimiter=",")
    df = df.drop(0, axis = 1)
    features = df.iloc[1:, 0:10]
    labels = df.iloc[1:, -1]
    return (features, labels)

In [3]:
def one_hot_encode(features):
    encoded_country = pd.get_dummies(features[2])
    encoded_gender = pd.get_dummies(features[3])
    
    merged_columns = pd.concat([encoded_country, encoded_gender], axis = "columns")
    features = pd.concat([features, merged_columns], axis = "columns")
    features = features.drop([2, 3], axis = "columns")
    return features

In [4]:
def split_data(features, labels):
    total_samples = features.shape[0]
    feature_columns = features.columns.values.tolist()
    test_split_size = int(np.ceil((30 / 100) * total_samples))
    
    train_x, test_x, train_y, test_y = train_test_split(features, labels, test_size = test_split_size)

    train_x = train_x.reset_index(drop = True)
    test_x = test_x.reset_index(drop = True)
    train_y = train_y.reset_index(drop = True)
    test_y = test_y.reset_index(drop = True)
    
    train_y = train_y.astype(float)
    test_y = test_y.astype(float)

    for column in feature_columns:
        train_x[column] = train_x[column].astype(float)
        test_x[column] = test_x[column].astype(float)

    return (train_x, test_x, train_y, test_y)

In [5]:
def init_parameters(input_features, hidden_units, output_units):
    # Parameters initialization for 2 layer neural network
    
    num_weights_l1 = input_features * hidden_units
    num_weights_l2 = hidden_units * output_units
    num_biases_l1 = hidden_units
    num_biases_l2 = output_units
    
    num_network_parameters = [num_weights_l1, num_weights_l2, num_biases_l1, num_biases_l2]
    network_parameters = []
    
    for index in range(4):
        temp = []
        for _ in range(num_network_parameters[index]):
            temp.append(round(random.uniform(-0.5, 0.5), 1))
            
        network_parameters.append(temp)
    
    network_weights = [network_parameters[0], network_parameters[1]]
    network_biases = [network_parameters[2], network_parameters[3]]
    
    return (network_weights, network_biases)

In [6]:
def calculate_weighted_sum(weights, inputs):
    weighted_sum = np.dot(weights, inputs)
    return weighted_sum

def add_biases(weighted_sum, biases):
    return np.add(weighted_sum, biases_vector)

In [7]:
def sigmoid(z):
    z = 1 / (1 + np.exp(-z))
    return z

def relu(z):
    return max(0, z)

In [8]:
def cross_entropy_cost():
    pass

def cost_function(y, y_hat, total_samples):
    cost = (-1 / total_samples) * np.sum(y * np.log(0.0001 + y_hat) + (1 - y) * np.log(0.0001 + 1 - y_hat))
    return cost

In [9]:
def model_fit():
    pass

In [10]:
features, labels = load_data()
print(features)
print("---------------------------------------------------------------------------------------------------------")

print(labels)
print("---------------------------------------------------------------------------------------------------------")

features = one_hot_encode(features)
print(features)
print("---------------------------------------------------------------------------------------------------------")

# features = SD_normalization(features)

train_f, test_f, train_l, test_l = split_data(features, labels)
print(train_f)
print("---------------------------------------------------------------------------------------------------------")
print(test_f)
print("---------------------------------------------------------------------------------------------------------")
print(train_l)
print("---------------------------------------------------------------------------------------------------------")
print(test_l)

        1        2       3   4   5          6  7  8  9          10
1      619   France  Female  42   2          0  1  1  1  101348.88
2      608    Spain  Female  41   1   83807.86  1  0  1  112542.58
3      502   France  Female  42   8   159660.8  3  1  0  113931.57
4      699   France  Female  39   1          0  2  0  0   93826.63
5      850    Spain  Female  43   2  125510.82  1  1  1    79084.1
...    ...      ...     ...  ..  ..        ... .. .. ..        ...
9996   771   France    Male  39   5          0  2  1  0   96270.64
9997   516   France    Male  35  10   57369.61  1  1  1  101699.77
9998   709   France  Female  36   7          0  1  0  1   42085.58
9999   772  Germany    Male  42   3   75075.31  2  1  0   92888.52
10000  792   France  Female  28   4  130142.79  1  1  0   38190.78

[10000 rows x 10 columns]
---------------------------------------------------------------------------------------------------------
1        1
2        0
3        1
4        0
5        0
        ..
9996     0
9997     0
9998     1
9999     1
10000    0
Name: 11, Length: 10000, dtype: object
---------------------------------------------------------------------------------------------------------
         1   4   5          6  7  8  9         10  France  Germany  Spain  \
1      619  42   2          0  1  1  1  101348.88       1        0      0
2      608  41   1   83807.86  1  0  1  112542.58       0        0      1
3      502  42   8   159660.8  3  1  0  113931.57       1        0      0
4      699  39   1          0  2  0  0   93826.63       1        0      0
5      850  43   2  125510.82  1  1  1    79084.1       0        0      1
...    ...  ..  ..        ... .. .. ..        ...     ...      ...    ...
9996   771  39   5          0  2  1  0   96270.64       1        0      0
9997   516  35  10   57369.61  1  1  1  101699.77       1        0      0
9998   709  36   7          0  1  0  1   42085.58       1        0      0
9999   772  42   3   75075.31  2  1  0   92888.52       0        1      0
10000  792  28   4  130142.79  1  1  0   38190.78       1        0      0

       Female  Male
1           1     0
2           1     0
3           1     0
4           1     0
5           1     0
...       ...   ...
9996        0     1
9997        0     1
9998        1     0
9999        0     1
10000       1     0

[10000 rows x 13 columns]
---------------------------------------------------------------------------------------------------------
          1     4    5          6    7    8    9         10  France  Germany  \
0     482.0  38.0  4.0  124976.19  1.0  1.0  0.0   35848.12     1.0      0.0
1     759.0  45.0  8.0       0.00  2.0  1.0  1.0   99251.24     1.0      0.0
2     528.0  23.0  7.0  104744.89  1.0  1.0  0.0  170262.97     0.0      0.0
3     708.0  41.0  5.0       0.00  1.0  0.0  1.0  157003.99     0.0      0.0
4     512.0  41.0  7.0  122403.24  1.0  0.0  1.0   37439.90     0.0      1.0
...     ...   ...  ...        ...  ...  ...  ...        ...     ...      ...
6995  643.0  33.0  0.0  137811.75  1.0  1.0  1.0  184856.89     1.0      0.0
6996  670.0  37.0  2.0       0.00  2.0  1.0  1.0   54229.74     1.0      0.0
6997  612.0  38.0  7.0  110615.47  1.0  1.0  1.0  193502.93     1.0      0.0
6998  663.0  28.0  8.0  123674.28  2.0  1.0  1.0   87985.20     0.0      1.0
6999  470.0  31.0  2.0  101675.22  2.0  1.0  0.0   45033.75     0.0      0.0

      Spain  Female  Male
0       0.0     0.0   1.0
1       0.0     1.0   0.0
2       1.0     0.0   1.0
3       1.0     1.0   0.0
4       0.0     0.0   1.0
...     ...     ...   ...
6995    0.0     1.0   0.0
6996    0.0     0.0   1.0
6997    0.0     1.0   0.0
6998    0.0     0.0   1.0
6999    1.0     1.0   0.0

[7000 rows x 13 columns]
---------------------------------------------------------------------------------------------------------
          1     4    5          6    7    8    9         10  France  Germany  \
0     605.0  41.0  5.0  103154.66  1.0  0.0  0.0  143203.78     0.0      0.0
1     677.0  39.0  0.0  111213.64  2.0  1.0  1.0  147578.26     0.0      1.0
2     629.0  44.0  6.0  125512.98  2.0  0.0  0.0   79082.76     0.0      0.0
3     846.0  41.0  5.0       0.00  3.0  1.0  0.0    3440.47     1.0      0.0
4     529.0  44.0  1.0       0.00  2.0  0.0  0.0   14161.30     0.0      0.0
...     ...   ...  ...        ...  ...  ...  ...        ...     ...      ...
2995  571.0  32.0  5.0  131354.25  1.0  1.0  0.0  125256.53     1.0      0.0
2996  767.0  35.0  2.0       0.00  2.0  0.0  0.0  144251.38     1.0      0.0
2997  707.0  40.0  5.0       0.00  2.0  1.0  0.0   41052.82     1.0      0.0
2998  540.0  48.0  2.0  109349.29  1.0  1.0  0.0   88703.04     1.0      0.0
2999  468.0  22.0  1.0   76318.64  1.0  1.0  1.0  194783.12     1.0      0.0

      Spain  Female  Male
0       1.0     0.0   1.0
1       0.0     1.0   0.0
2       1.0     1.0   0.0
3       0.0     1.0   0.0
4       1.0     1.0   0.0
...     ...     ...   ...
2995    0.0     0.0   1.0
2996    0.0     1.0   0.0
2997    0.0     1.0   0.0
2998    0.0     0.0   1.0
2999    0.0     1.0   0.0

[3000 rows x 13 columns]
---------------------------------------------------------------------------------------------------------
0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
6995    0.0
6996    0.0
6997    0.0
6998    0.0
6999    0.0
Name: 11, Length: 7000, dtype: float64
---------------------------------------------------------------------------------------------------------
0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
2995    0.0
2996    0.0
2997    0.0
2998    1.0
2999    0.0
Name: 11, Length: 3000, dtype: float64